.main {
  min-height: 90vh;
  color: var(--color-100);

  .content {
    padding: 20px;

    .container {
      display: flex;
      gap: 20px;
    }

    .result {
      @include window-style(100%);
      margin-top: rem(20px);
      box-shadow: none;
      padding: rem(20px);

      .btn {
        display: flex;
        justify-content: center;
        gap: rem(10px);
      }

      button {
        margin: 0 0 rem(10px) 0;
      }
    }

    button {
      margin: rem(10px);
    }
  }
}

.carouselContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(calc(-100% * var(--currentIndex)));
}

.storyCard {
  min-width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: center;

  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
  }
}

.prevBtn,
.nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prevBtn {
  left: 10px;
}

.nextBtn {
  right: 10px;
}
